<div class="input-group">
    <input class="form-control" type="text" ng-model="query"/>
    <span class="input-group-addon">
        <button ng-click="search()">Search</button>
    </span>
</div>
<table class="table table-responsive">
    <tr ng-repeat="book in books">
        <td>
            <img ng-src="{{book.image}}" alt="" width="120" class="thumbnail"/>
        </td>
        <td>
            <h4>{{book.Title}}<small>{{book.SubTitle}}</small></h4>
            <blockquote>
                {{book.Description}}
                <a href="#">more...</a>
            </blockquote>
        </td>
    </tr>
</table>
